In [172]:
import datetime
import pytz


%run ./common.ipynb

In [173]:
# searchQry='?jql=key%20in%20(%27CSP-151%27,%27CSP-963%27)&expand=changelog'
searchQry='?jql=sprint%20=%207431%20and%20type%20=%20Story&expand=changelog'
searchQry_DS = getDataSet(searchQry)

Getting report results...
https://jira.footlocker.com/rest/api/2/search?jql=sprint%20=%207431%20and%20type%20=%20Story&expand=changelog
<Response [200]>
Report results received...
HTTP 200 - OK

In [174]:
cycleTimeDf = pd.DataFrame(columns=['key','leadTime','development','QA','deployment'])

In [175]:
changelog_Rec =[ ]
for searchResult in searchQry_DS:
    changelog = searchResult['changelog']
    for history in changelog['histories']:
        history_id = history['id']
        created_at = history.get('created',None)
        for item in history['items']:
            # print(item_list['field'])
            changelog_Rec.append({
                'key': searchResult['key'],
                'created_at': created_at,
                'field': item['field'],
                'from': item['fromString'],
                'to': item['toString'],
            })

changelog_Rec_df = pd.DataFrame(changelog_Rec)

status_change = changelog_Rec_df[changelog_Rec_df['field']=='status']

status_change = status_change.reset_index(drop=True)

In [176]:
def calculateCycleTime(_status_change,current_status,key):
    cycleTime = {}
    if (current_status != 'Done'):
        # Get the current time in UTC
        now_utc = datetime.datetime.now(pytz.utc)
        # Convert to Eastern Time
        eastern = pytz.timezone('US/Eastern')
        now_est = now_utc.astimezone(eastern)
        new_node = {
                    'key':key,
                    'created_at': now_est.strftime('%Y-%m-%dT%H:%M:%S.%f%z'),
                    'field': 'status',
                    'from': current_status,
                    'to' : 'Active'
                    }
        _status_change.loc[len(_status_change)] = new_node     

    _status_change = _status_change.reset_index(drop=True)
    _status_change['created_at'] = pd.to_datetime(_status_change['created_at'], format='%Y-%m-%dT%H:%M:%S.%f%z')
    _status_change['time_diff'] = _status_change['created_at'].diff()
    _status_change = _status_change.reset_index(drop=True)
    cycleTime['key'] = _status_change['key'][0]
    cycleTime['leadTime'] = _status_change['time_diff'].sum()
    cycleTime['development'] = _status_change[_status_change['to'].isin( ['In Progress','Code Review','Testing','Active'])]['time_diff'].sum()
    cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()
    cycleTime['deployment'] = _status_change[_status_change['from'].isin( ['Deploy']) ]['time_diff'].sum()

    display (_status_change)
    display(cycleTime)
    return cycleTime

In [177]:
for searchResult in searchQry_DS:
    result = status_change[status_change['key'] == searchResult['key']]
    cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

display(cycleTimeDf)

{'key': 'CSP-968',
 'created_at': '2024-11-05T18:11:24.284993-0500',
 'field': 'status',
 'from': 'Code Review',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

       key                       created_at   field         from           to
0  CSP-968     2024-10-31T08:24:39.973-0500  status         Open  In Progress
1  CSP-968     2024-11-01T08:47:51.480-0500  status  In Progress  Code Review
2  CSP-968  2024-11-05T18:11:24.284993-0500  status  Code Review       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-968,2024-10-31 08:24:39.973000-05:00,status,Open,In Progress,NaT
1,CSP-968,2024-11-01 08:47:51.480000-05:00,status,In Progress,Code Review,1 days 00:23:11.507000
2,CSP-968,2024-11-05 18:11:24.284993-05:00,status,Code Review,Active,4 days 09:23:32.804993

{'key': 'CSP-968',
 'leadTime': Timedelta('5 days 09:46:44.311993'),
 'development': Timedelta('5 days 09:46:44.311993'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-963,2024-10-30 11:14:06.270000-05:00,status,Open,In Progress,NaT
1,CSP-963,2024-10-30 13:12:42.357000-05:00,status,In Progress,Open,0 days 01:58:36.087000
2,CSP-963,2024-10-30 15:07:39.800000-05:00,status,Open,In Progress,0 days 01:54:57.443000
3,CSP-963,2024-10-31 08:35:41.503000-05:00,status,In Progress,Code Review,0 days 17:28:01.703000
4,CSP-963,2024-11-01 10:29:26.150000-05:00,status,Code Review,Testing,1 days 01:53:44.647000
5,CSP-963,2024-11-01 12:15:01.060000-05:00,status,Testing,Deploy,0 days 01:45:34.910000
6,CSP-963,2024-11-05 08:04:08.357000-06:00,status,Deploy,Done,3 days 20:49:07.297000

{'key': 'CSP-963',
 'leadTime': Timedelta('5 days 21:50:02.087000'),
 'development': Timedelta('1 days 21:16:43.793000'),
 'QA': Timedelta('0 days 01:45:34.910000'),
 'deployment': Timedelta('3 days 20:49:07.297000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-961',
 'created_at': '2024-11-05T18:11:25.014915-0500',
 'field': 'status',
 'from': 'Testing',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
9   CSP-961     2024-10-28T13:16:34.233-0500  status        To Do  In Progress
10  CSP-961     2024-10-29T08:12:42.870-0500  status  In Progress        To Do
11  CSP-961     2024-11-01T13:04:30.147-0500  status        To Do  In Progress
12  CSP-961     2024-11-05T12:19:40.307-0600  status  In Progress      Testing
4   CSP-961  2024-11-05T18:11:25.014915-0500  status      Testing       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-961,2024-10-28 13:16:34.233000-05:00,status,To Do,In Progress,NaT
1,CSP-961,2024-10-29 08:12:42.870000-05:00,status,In Progress,To Do,0 days 18:56:08.637000
2,CSP-961,2024-11-01 13:04:30.147000-05:00,status,To Do,In Progress,3 days 04:51:47.277000
3,CSP-961,2024-11-05 12:19:40.307000-06:00,status,In Progress,Testing,4 days 00:15:10.160000
4,CSP-961,2024-11-05 18:11:25.014915-05:00,status,Testing,Active,0 days 04:51:44.707915

{'key': 'CSP-961',
 'leadTime': Timedelta('8 days 04:54:50.781915'),
 'development': Timedelta('7 days 09:58:42.144915'),
 'QA': Timedelta('0 days 04:51:44.707915'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-960',
 'created_at': '2024-11-05T18:11:25.033389-0500',
 'field': 'status',
 'from': 'Testing',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
13  CSP-960     2024-10-29T08:12:00.703-0500  status        To Do  In Progress
14  CSP-960     2024-10-29T10:05:06.497-0500  status  In Progress      Testing
2   CSP-960  2024-11-05T18:11:25.033389-0500  status      Testing       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-960,2024-10-29 08:12:00.703000-05:00,status,To Do,In Progress,NaT
1,CSP-960,2024-10-29 10:05:06.497000-05:00,status,In Progress,Testing,0 days 01:53:05.794000
2,CSP-960,2024-11-05 18:11:25.033389-05:00,status,Testing,Active,7 days 08:06:18.536389

{'key': 'CSP-960',
 'leadTime': Timedelta('7 days 09:59:24.330389'),
 'development': Timedelta('7 days 09:59:24.330389'),
 'QA': Timedelta('7 days 08:06:18.536389'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-956,2024-10-24 12:56:50.313000-05:00,status,To Do,In Progress,NaT
1,CSP-956,2024-10-25 14:12:59.283000-05:00,status,In Progress,Code Review,1 days 01:16:08.970000
2,CSP-956,2024-10-31 09:32:01.287000-05:00,status,Code Review,Testing,5 days 19:19:02.004000
3,CSP-956,2024-11-01 13:09:21.407000-05:00,status,Testing,Deploy,1 days 03:37:20.120000
4,CSP-956,2024-11-05 08:04:33.823000-06:00,status,Deploy,Done,3 days 19:55:12.416000

{'key': 'CSP-956',
 'leadTime': Timedelta('11 days 20:07:43.510000'),
 'development': Timedelta('6 days 20:35:10.974000'),
 'QA': Timedelta('1 days 03:37:20.120000'),
 'deployment': Timedelta('3 days 19:55:12.416000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-950',
 'created_at': '2024-11-05T18:11:25.061031-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
20  CSP-950     2024-10-22T12:01:57.403-0500  status        To Do  Code Review
21  CSP-950     2024-10-23T10:24:58.497-0500  status  Code Review      Testing
22  CSP-950     2024-10-25T16:57:10.603-0500  status      Testing       Deploy
3   CSP-950  2024-11-05T18:11:25.061031-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-950,2024-10-22 12:01:57.403000-05:00,status,To Do,Code Review,NaT
1,CSP-950,2024-10-23 10:24:58.497000-05:00,status,Code Review,Testing,0 days 22:23:01.094000
2,CSP-950,2024-10-25 16:57:10.603000-05:00,status,Testing,Deploy,2 days 06:32:12.106000
3,CSP-950,2024-11-05 18:11:25.061031-05:00,status,Deploy,Active,11 days 01:14:14.458031

{'key': 'CSP-950',
 'leadTime': Timedelta('14 days 06:09:27.658031'),
 'development': Timedelta('11 days 23:37:15.552031'),
 'QA': Timedelta('2 days 06:32:12.106000'),
 'deployment': Timedelta('11 days 01:14:14.458031')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-945',
 'created_at': '2024-11-05T18:11:25.076535-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
23  CSP-945     2024-10-24T08:48:12.490-0500  status        To Do  In Progress
24  CSP-945     2024-10-24T08:48:18.457-0500  status  In Progress  In Progress
25  CSP-945     2024-10-28T07:17:14.210-0500  status  In Progress  Code Review
26  CSP-945     2024-10-29T09:14:13.440-0500  status  Code Review      Testing
27  CSP-945     2024-10-30T13:53:02.683-0500  status      Testing       Deploy
5   CSP-945  2024-11-05T18:11:25.076535-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-945,2024-10-24 08:48:12.490000-05:00,status,To Do,In Progress,NaT
1,CSP-945,2024-10-24 08:48:18.457000-05:00,status,In Progress,In Progress,0 days 00:00:05.967000
2,CSP-945,2024-10-28 07:17:14.210000-05:00,status,In Progress,Code Review,3 days 22:28:55.753000
3,CSP-945,2024-10-29 09:14:13.440000-05:00,status,Code Review,Testing,1 days 01:56:59.230000
4,CSP-945,2024-10-30 13:53:02.683000-05:00,status,Testing,Deploy,1 days 04:38:49.243000
5,CSP-945,2024-11-05 18:11:25.076535-05:00,status,Deploy,Active,6 days 04:18:22.393535

{'key': 'CSP-945',
 'leadTime': Timedelta('12 days 09:23:12.586535'),
 'development': Timedelta('11 days 04:44:23.343535'),
 'QA': Timedelta('1 days 04:38:49.243000'),
 'deployment': Timedelta('6 days 04:18:22.393535')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-938',
 'created_at': '2024-11-05T18:11:25.095112-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
28  CSP-938     2024-10-17T13:37:53.320-0500  status        To Do  In Progress
29  CSP-938     2024-10-18T08:02:29.427-0500  status  In Progress  Code Review
30  CSP-938     2024-10-18T11:54:24.390-0500  status  Code Review      Testing
31  CSP-938     2024-10-25T17:03:17.927-0500  status      Testing       Deploy
4   CSP-938  2024-11-05T18:11:25.095112-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-938,2024-10-17 13:37:53.320000-05:00,status,To Do,In Progress,NaT
1,CSP-938,2024-10-18 08:02:29.427000-05:00,status,In Progress,Code Review,0 days 18:24:36.107000
2,CSP-938,2024-10-18 11:54:24.390000-05:00,status,Code Review,Testing,0 days 03:51:54.963000
3,CSP-938,2024-10-25 17:03:17.927000-05:00,status,Testing,Deploy,7 days 05:08:53.537000
4,CSP-938,2024-11-05 18:11:25.095112-05:00,status,Deploy,Active,11 days 01:08:07.168112

{'key': 'CSP-938',
 'leadTime': Timedelta('19 days 04:33:31.775112'),
 'development': Timedelta('11 days 23:24:38.238112'),
 'QA': Timedelta('7 days 05:08:53.537000'),
 'deployment': Timedelta('11 days 01:08:07.168112')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-930,2024-10-16 08:51:55.883000-05:00,status,To Do,Code Review,NaT
1,CSP-930,2024-10-18 11:57:22.673000-05:00,status,Code Review,Testing,2 days 03:05:26.790000
2,CSP-930,2024-10-31 10:15:27.520000-05:00,status,Testing,Deploy,12 days 22:18:04.847000
3,CSP-930,2024-11-05 08:06:07.033000-06:00,status,Deploy,Done,4 days 22:50:39.513000

{'key': 'CSP-930',
 'leadTime': Timedelta('20 days 00:14:11.150000'),
 'development': Timedelta('2 days 03:05:26.790000'),
 'QA': Timedelta('12 days 22:18:04.847000'),
 'deployment': Timedelta('4 days 22:50:39.513000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-929',
 'created_at': '2024-11-05T18:11:25.123010-0500',
 'field': 'status',
 'from': 'Testing',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
36  CSP-929     2024-10-21T14:54:40.087-0500  status        To Do  In Progress
37  CSP-929     2024-10-23T10:41:37.253-0500  status  In Progress      Testing
2   CSP-929  2024-11-05T18:11:25.123010-0500  status      Testing       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-929,2024-10-21 14:54:40.087000-05:00,status,To Do,In Progress,NaT
1,CSP-929,2024-10-23 10:41:37.253000-05:00,status,In Progress,Testing,1 days 19:46:57.166000
2,CSP-929,2024-11-05 18:11:25.123010-05:00,status,Testing,Active,13 days 07:29:47.870010

{'key': 'CSP-929',
 'leadTime': Timedelta('15 days 03:16:45.036010'),
 'development': Timedelta('15 days 03:16:45.036010'),
 'QA': Timedelta('13 days 07:29:47.870010'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-920',
 'created_at': '2024-11-05T18:11:25.137882-0500',
 'field': 'status',
 'from': 'In Progress',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
38  CSP-920     2024-11-01T13:04:46.367-0500  status        To Do  In Progress
1   CSP-920  2024-11-05T18:11:25.137882-0500  status  In Progress       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-920,2024-11-01 13:04:46.367000-05:00,status,To Do,In Progress,NaT
1,CSP-920,2024-11-05 18:11:25.137882-05:00,status,In Progress,Active,4 days 05:06:38.770882

{'key': 'CSP-920',
 'leadTime': Timedelta('4 days 05:06:38.770882'),
 'development': Timedelta('4 days 05:06:38.770882'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-912,2024-10-24 15:59:52.233000-05:00,status,To Do,In Progress,NaT
1,CSP-912,2024-10-29 17:05:10.903000-05:00,status,In Progress,Deploy,5 days 01:05:18.670000
2,CSP-912,2024-10-30 14:21:41.797000-05:00,status,Deploy,Done,0 days 21:16:30.894000

{'key': 'CSP-912',
 'leadTime': Timedelta('5 days 22:21:49.564000'),
 'development': Timedelta('0 days 00:00:00'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 21:16:30.894000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-911,2024-10-24 17:29:50.740000-05:00,status,To Do,In Progress,NaT
1,CSP-911,2024-10-29 17:04:59.573000-05:00,status,In Progress,Deploy,4 days 23:35:08.833000
2,CSP-911,2024-10-30 14:21:50.147000-05:00,status,Deploy,Done,0 days 21:16:50.574000

{'key': 'CSP-911',
 'leadTime': Timedelta('5 days 20:51:59.407000'),
 'development': Timedelta('0 days 00:00:00'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 21:16:50.574000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-887',
 'created_at': '2024-11-05T18:11:25.172774-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
45  CSP-887     2024-10-08T09:12:10.823-0500  status        To Do  In Progress
46  CSP-887     2024-10-08T14:36:56.297-0500  status  In Progress  Code Review
47  CSP-887     2024-10-10T16:36:04.057-0500  status  Code Review      Testing
48  CSP-887     2024-10-15T15:06:13.773-0500  status      Testing       Deploy
4   CSP-887  2024-11-05T18:11:25.172774-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-887,2024-10-08 09:12:10.823000-05:00,status,To Do,In Progress,NaT
1,CSP-887,2024-10-08 14:36:56.297000-05:00,status,In Progress,Code Review,0 days 05:24:45.474000
2,CSP-887,2024-10-10 16:36:04.057000-05:00,status,Code Review,Testing,2 days 01:59:07.760000
3,CSP-887,2024-10-15 15:06:13.773000-05:00,status,Testing,Deploy,4 days 22:30:09.716000
4,CSP-887,2024-11-05 18:11:25.172774-05:00,status,Deploy,Active,21 days 03:05:11.399774

{'key': 'CSP-887',
 'leadTime': Timedelta('28 days 08:59:14.349774'),
 'development': Timedelta('23 days 10:29:04.633774'),
 'QA': Timedelta('4 days 22:30:09.716000'),
 'deployment': Timedelta('21 days 03:05:11.399774')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-880',
 'created_at': '2024-11-05T18:11:25.188004-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
49  CSP-880     2024-10-17T14:39:40.313-0500  status        To Do  Code Review
50  CSP-880     2024-10-30T13:24:39.257-0500  status  Code Review      Testing
51  CSP-880     2024-10-30T14:00:02.500-0500  status      Testing       Deploy
3   CSP-880  2024-11-05T18:11:25.188004-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-880,2024-10-17 14:39:40.313000-05:00,status,To Do,Code Review,NaT
1,CSP-880,2024-10-30 13:24:39.257000-05:00,status,Code Review,Testing,12 days 22:44:58.944000
2,CSP-880,2024-10-30 14:00:02.500000-05:00,status,Testing,Deploy,0 days 00:35:23.243000
3,CSP-880,2024-11-05 18:11:25.188004-05:00,status,Deploy,Active,6 days 04:11:22.688004

{'key': 'CSP-880',
 'leadTime': Timedelta('19 days 03:31:44.875004'),
 'development': Timedelta('19 days 02:56:21.632004'),
 'QA': Timedelta('0 days 00:35:23.243000'),
 'deployment': Timedelta('6 days 04:11:22.688004')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-879,2024-10-24 13:23:55.237000-05:00,status,To Do,In Progress,NaT
1,CSP-879,2024-10-29 09:11:04.693000-05:00,status,In Progress,Testing,4 days 19:47:09.456000
2,CSP-879,2024-10-31 10:21:10.127000-05:00,status,Testing,Deploy,2 days 01:10:05.434000
3,CSP-879,2024-11-05 08:06:17.637000-06:00,status,Deploy,Done,4 days 22:45:07.510000

{'key': 'CSP-879',
 'leadTime': Timedelta('11 days 19:42:22.400000'),
 'development': Timedelta('4 days 19:47:09.456000'),
 'QA': Timedelta('2 days 01:10:05.434000'),
 'deployment': Timedelta('4 days 22:45:07.510000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-859,2024-10-08 09:02:58.913000-05:00,status,To Do,In Progress,NaT
1,CSP-859,2024-10-17 12:01:45.020000-05:00,status,In Progress,Testing,9 days 02:58:46.107000
2,CSP-859,2024-10-28 13:33:30.813000-05:00,status,Testing,Deploy,11 days 01:31:45.793000
3,CSP-859,2024-11-05 08:06:49.037000-06:00,status,Deploy,Done,7 days 19:33:18.224000

{'key': 'CSP-859',
 'leadTime': Timedelta('28 days 00:03:50.124000'),
 'development': Timedelta('9 days 02:58:46.107000'),
 'QA': Timedelta('11 days 01:31:45.793000'),
 'deployment': Timedelta('7 days 19:33:18.224000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-858,2024-10-16 09:57:46.137000-05:00,status,To Do,Testing,NaT
1,CSP-858,2024-10-28 13:23:41.833000-05:00,status,Testing,Deploy,12 days 03:25:55.696000
2,CSP-858,2024-10-31 12:14:36.300000-05:00,status,Deploy,Done,2 days 22:50:54.467000

{'key': 'CSP-858',
 'leadTime': Timedelta('15 days 02:16:50.163000'),
 'development': Timedelta('0 days 00:00:00'),
 'QA': Timedelta('12 days 03:25:55.696000'),
 'deployment': Timedelta('2 days 22:50:54.467000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-857',
 'created_at': '2024-11-05T18:11:25.242061-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
63  CSP-857     2024-10-16T14:55:13.873-0500  status        To Do  In Progress
64  CSP-857     2024-10-18T11:54:10.967-0500  status  In Progress      Testing
65  CSP-857     2024-10-25T17:00:52.697-0500  status      Testing       Deploy
3   CSP-857  2024-11-05T18:11:25.242061-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-857,2024-10-16 14:55:13.873000-05:00,status,To Do,In Progress,NaT
1,CSP-857,2024-10-18 11:54:10.967000-05:00,status,In Progress,Testing,1 days 20:58:57.094000
2,CSP-857,2024-10-25 17:00:52.697000-05:00,status,Testing,Deploy,7 days 05:06:41.730000
3,CSP-857,2024-11-05 18:11:25.242061-05:00,status,Deploy,Active,11 days 01:10:32.545061

{'key': 'CSP-857',
 'leadTime': Timedelta('20 days 03:16:11.369061'),
 'development': Timedelta('12 days 22:09:29.639061'),
 'QA': Timedelta('7 days 05:06:41.730000'),
 'deployment': Timedelta('11 days 01:10:32.545061')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-856',
 'created_at': '2024-11-05T18:11:25.259572-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
66  CSP-856     2024-10-15T16:09:35.960-0500  status        To Do  In Progress
67  CSP-856     2024-10-18T11:54:23.720-0500  status  In Progress      Testing
68  CSP-856     2024-10-28T13:50:16.770-0500  status      Testing       Deploy
3   CSP-856  2024-11-05T18:11:25.259572-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-856,2024-10-15 16:09:35.960000-05:00,status,To Do,In Progress,NaT
1,CSP-856,2024-10-18 11:54:23.720000-05:00,status,In Progress,Testing,2 days 19:44:47.760000
2,CSP-856,2024-10-28 13:50:16.770000-05:00,status,Testing,Deploy,10 days 01:55:53.050000
3,CSP-856,2024-11-05 18:11:25.259572-05:00,status,Deploy,Active,8 days 04:21:08.489572

{'key': 'CSP-856',
 'leadTime': Timedelta('21 days 02:01:49.299572'),
 'development': Timedelta('11 days 00:05:56.249572'),
 'QA': Timedelta('10 days 01:55:53.050000'),
 'deployment': Timedelta('8 days 04:21:08.489572')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-855',
 'created_at': '2024-11-05T18:11:25.276740-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
69  CSP-855     2024-10-09T13:03:44.847-0500  status        To Do  In Progress
70  CSP-855     2024-10-22T15:01:41.133-0500  status  In Progress  Code Review
71  CSP-855     2024-10-23T11:10:54.383-0500  status  Code Review      Testing
72  CSP-855     2024-10-28T13:25:42.220-0500  status      Testing       Deploy
4   CSP-855  2024-11-05T18:11:25.276740-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-855,2024-10-09 13:03:44.847000-05:00,status,To Do,In Progress,NaT
1,CSP-855,2024-10-22 15:01:41.133000-05:00,status,In Progress,Code Review,13 days 01:57:56.286000
2,CSP-855,2024-10-23 11:10:54.383000-05:00,status,Code Review,Testing,0 days 20:09:13.250000
3,CSP-855,2024-10-28 13:25:42.220000-05:00,status,Testing,Deploy,5 days 02:14:47.837000
4,CSP-855,2024-11-05 18:11:25.276740-05:00,status,Deploy,Active,8 days 04:45:43.056740

{'key': 'CSP-855',
 'leadTime': Timedelta('27 days 05:07:40.429740'),
 'development': Timedelta('22 days 02:52:52.592740'),
 'QA': Timedelta('5 days 02:14:47.837000'),
 'deployment': Timedelta('8 days 04:45:43.056740')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-854',
 'created_at': '2024-11-05T18:11:25.295462-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
73  CSP-854     2024-10-10T08:38:17.393-0500  status        To Do  Code Review
74  CSP-854     2024-10-14T15:43:16.927-0500  status  Code Review      Testing
75  CSP-854     2024-10-25T16:59:09.133-0500  status      Testing       Deploy
3   CSP-854  2024-11-05T18:11:25.295462-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-854,2024-10-10 08:38:17.393000-05:00,status,To Do,Code Review,NaT
1,CSP-854,2024-10-14 15:43:16.927000-05:00,status,Code Review,Testing,4 days 07:04:59.534000
2,CSP-854,2024-10-25 16:59:09.133000-05:00,status,Testing,Deploy,11 days 01:15:52.206000
3,CSP-854,2024-11-05 18:11:25.295462-05:00,status,Deploy,Active,11 days 01:12:16.162462

{'key': 'CSP-854',
 'leadTime': Timedelta('26 days 09:33:07.902462'),
 'development': Timedelta('15 days 08:17:15.696462'),
 'QA': Timedelta('11 days 01:15:52.206000'),
 'deployment': Timedelta('11 days 01:12:16.162462')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-851,2024-10-02 12:31:59.740000-05:00,status,To Do,In Progress,NaT
1,CSP-851,2024-10-17 08:45:04.160000-05:00,status,In Progress,Testing,14 days 20:13:04.420000
2,CSP-851,2024-10-31 09:36:48.350000-05:00,status,Testing,Deploy,14 days 00:51:44.190000
3,CSP-851,2024-11-05 08:06:56.723000-06:00,status,Deploy,Done,4 days 23:30:08.373000

{'key': 'CSP-851',
 'leadTime': Timedelta('33 days 20:34:56.983000'),
 'development': Timedelta('14 days 20:13:04.420000'),
 'QA': Timedelta('14 days 00:51:44.190000'),
 'deployment': Timedelta('4 days 23:30:08.373000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-850,2024-10-02 11:21:45.307000-05:00,status,To Do,In Progress,NaT
1,CSP-850,2024-10-11 13:55:48.877000-05:00,status,In Progress,Testing,9 days 02:34:03.570000
2,CSP-850,2024-10-31 09:35:28.307000-05:00,status,Testing,Deploy,19 days 19:39:39.430000
3,CSP-850,2024-11-05 08:07:09.433000-06:00,status,Deploy,Done,4 days 23:31:41.126000

{'key': 'CSP-850',
 'leadTime': Timedelta('33 days 21:45:24.126000'),
 'development': Timedelta('9 days 02:34:03.570000'),
 'QA': Timedelta('19 days 19:39:39.430000'),
 'deployment': Timedelta('4 days 23:31:41.126000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-840',
 'created_at': '2024-11-05T18:11:25.336988-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field     from       to
84  CSP-840     2024-10-30T10:06:49.073-0500  status    To Do  Testing
85  CSP-840     2024-10-30T16:55:19.637-0500  status  Testing   Deploy
2   CSP-840  2024-11-05T18:11:25.336988-0500  status   Deploy   Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-840,2024-10-30 10:06:49.073000-05:00,status,To Do,Testing,NaT
1,CSP-840,2024-10-30 16:55:19.637000-05:00,status,Testing,Deploy,0 days 06:48:30.564000
2,CSP-840,2024-11-05 18:11:25.336988-05:00,status,Deploy,Active,6 days 01:16:05.699988

{'key': 'CSP-840',
 'leadTime': Timedelta('6 days 08:04:36.263988'),
 'development': Timedelta('6 days 01:16:05.699988'),
 'QA': Timedelta('0 days 06:48:30.564000'),
 'deployment': Timedelta('6 days 01:16:05.699988')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-839',
 'created_at': '2024-11-05T18:11:25.351939-0500',
 'field': 'status',
 'from': 'Testing',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
86  CSP-839     2024-10-28T12:33:46.647-0500  status        To Do  In Progress
87  CSP-839     2024-10-29T09:36:07.637-0500  status  In Progress  Code Review
88  CSP-839     2024-10-30T13:24:49.693-0500  status  Code Review      Testing
89  CSP-839     2024-10-30T14:27:04.703-0500  status      Testing      Testing
4   CSP-839  2024-11-05T18:11:25.351939-0500  status      Testing       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-839,2024-10-28 12:33:46.647000-05:00,status,To Do,In Progress,NaT
1,CSP-839,2024-10-29 09:36:07.637000-05:00,status,In Progress,Code Review,0 days 21:02:20.990000
2,CSP-839,2024-10-30 13:24:49.693000-05:00,status,Code Review,Testing,1 days 03:48:42.056000
3,CSP-839,2024-10-30 14:27:04.703000-05:00,status,Testing,Testing,0 days 01:02:15.010000
4,CSP-839,2024-11-05 18:11:25.351939-05:00,status,Testing,Active,6 days 03:44:20.648939

{'key': 'CSP-839',
 'leadTime': Timedelta('8 days 05:37:38.704939'),
 'development': Timedelta('8 days 05:37:38.704939'),
 'QA': Timedelta('6 days 03:44:20.648939'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-837',
 'created_at': '2024-11-05T18:11:25.367951-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

        key                       created_at   field         from           to
90  CSP-837     2024-10-16T14:55:19.730-0500  status        To Do  In Progress
91  CSP-837     2024-10-17T10:55:28.250-0500  status  In Progress      Testing
92  CSP-837     2024-10-17T10:55:32.713-0500  status      Testing       Deploy
3   CSP-837  2024-11-05T18:11:25.367951-0500  status       Deploy       Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-837,2024-10-16 14:55:19.730000-05:00,status,To Do,In Progress,NaT
1,CSP-837,2024-10-17 10:55:28.250000-05:00,status,In Progress,Testing,0 days 20:00:08.520000
2,CSP-837,2024-10-17 10:55:32.713000-05:00,status,Testing,Deploy,0 days 00:00:04.463000
3,CSP-837,2024-11-05 18:11:25.367951-05:00,status,Deploy,Active,19 days 07:15:52.654951

{'key': 'CSP-837',
 'leadTime': Timedelta('20 days 03:16:05.637951'),
 'development': Timedelta('20 days 03:16:01.174951'),
 'QA': Timedelta('0 days 00:00:04.463000'),
 'deployment': Timedelta('19 days 07:15:52.654951')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-833,2024-10-30 13:11:24.770000-05:00,status,To Do,In Progress,NaT
1,CSP-833,2024-10-31 13:06:16.537000-05:00,status,In Progress,Code Review,0 days 23:54:51.767000
2,CSP-833,2024-11-04 16:34:21.397000-06:00,status,Code Review,Deploy,4 days 04:28:04.860000
3,CSP-833,2024-11-05 08:07:17.577000-06:00,status,Deploy,Done,0 days 15:32:56.180000

{'key': 'CSP-833',
 'leadTime': Timedelta('5 days 19:55:52.807000'),
 'development': Timedelta('0 days 23:54:51.767000'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 15:32:56.180000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-831,2024-10-02 12:32:22.380000-05:00,status,To Do,In Progress,NaT
1,CSP-831,2024-10-17 08:45:13.003000-05:00,status,In Progress,Testing,14 days 20:12:50.623000
2,CSP-831,2024-10-31 09:33:24.080000-05:00,status,Testing,Deploy,14 days 00:48:11.077000
3,CSP-831,2024-11-05 08:07:20.857000-06:00,status,Deploy,Done,4 days 23:33:56.777000

{'key': 'CSP-831',
 'leadTime': Timedelta('33 days 20:34:58.477000'),
 'development': Timedelta('14 days 20:12:50.623000'),
 'QA': Timedelta('14 days 00:48:11.077000'),
 'deployment': Timedelta('4 days 23:33:56.777000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-830,2024-10-02 12:32:07.043000-05:00,status,To Do,In Progress,NaT
1,CSP-830,2024-10-17 08:45:59.333000-05:00,status,In Progress,Testing,14 days 20:13:52.290000
2,CSP-830,2024-10-31 09:34:02.780000-05:00,status,Testing,Deploy,14 days 00:48:03.447000
3,CSP-830,2024-11-05 08:07:23.293000-06:00,status,Deploy,Done,4 days 23:33:20.513000

{'key': 'CSP-830',
 'leadTime': Timedelta('33 days 20:35:16.250000'),
 'development': Timedelta('14 days 20:13:52.290000'),
 'QA': Timedelta('14 days 00:48:03.447000'),
 'deployment': Timedelta('4 days 23:33:20.513000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-828,2024-10-07 09:40:05.177000-05:00,status,To Do,In Progress,NaT
1,CSP-828,2024-10-09 08:36:37.530000-05:00,status,In Progress,Code Review,1 days 22:56:32.353000
2,CSP-828,2024-10-16 21:25:38.053000-05:00,status,Code Review,Testing,7 days 12:49:00.523000
3,CSP-828,2024-10-25 11:46:56.343000-05:00,status,Testing,Deploy,8 days 14:21:18.290000
4,CSP-828,2024-11-05 08:07:33.657000-06:00,status,Deploy,Done,10 days 21:20:37.314000

{'key': 'CSP-828',
 'leadTime': Timedelta('28 days 23:27:28.480000'),
 'development': Timedelta('9 days 11:45:32.876000'),
 'QA': Timedelta('8 days 14:21:18.290000'),
 'deployment': Timedelta('10 days 21:20:37.314000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-815',
 'created_at': '2024-11-05T18:11:25.429566-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
110,CSP-815,2024-10-14T16:31:52.903-0500,status,To Do,In Progress
111,CSP-815,2024-10-18T17:06:41.527-0500,status,In Progress,Code Review
112,CSP-815,2024-10-21T14:53:41.827-0500,status,Code Review,Testing
113,CSP-815,2024-10-25T17:07:27.150-0500,status,Testing,Deploy
4,CSP-815,2024-11-05T18:11:25.429566-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-815,2024-10-14 16:31:52.903000-05:00,status,To Do,In Progress,NaT
1,CSP-815,2024-10-18 17:06:41.527000-05:00,status,In Progress,Code Review,4 days 00:34:48.624000
2,CSP-815,2024-10-21 14:53:41.827000-05:00,status,Code Review,Testing,2 days 21:47:00.300000
3,CSP-815,2024-10-25 17:07:27.150000-05:00,status,Testing,Deploy,4 days 02:13:45.323000
4,CSP-815,2024-11-05 18:11:25.429566-05:00,status,Deploy,Active,11 days 01:03:58.279566

{'key': 'CSP-815',
 'leadTime': Timedelta('22 days 01:39:32.526566'),
 'development': Timedelta('17 days 23:25:47.203566'),
 'QA': Timedelta('4 days 02:13:45.323000'),
 'deployment': Timedelta('11 days 01:03:58.279566')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-811',
 'created_at': '2024-11-05T18:11:25.448192-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
114,CSP-811,2024-10-08T09:15:31.267-0500,status,To Do,In Progress
115,CSP-811,2024-10-10T10:30:21.687-0500,status,In Progress,Testing
116,CSP-811,2024-10-28T09:12:25.063-0500,status,Testing,Deploy
3,CSP-811,2024-11-05T18:11:25.448192-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-811,2024-10-08 09:15:31.267000-05:00,status,To Do,In Progress,NaT
1,CSP-811,2024-10-10 10:30:21.687000-05:00,status,In Progress,Testing,2 days 01:14:50.420000
2,CSP-811,2024-10-28 09:12:25.063000-05:00,status,Testing,Deploy,17 days 22:42:03.376000
3,CSP-811,2024-11-05 18:11:25.448192-05:00,status,Deploy,Active,8 days 08:59:00.385192

{'key': 'CSP-811',
 'leadTime': Timedelta('28 days 08:55:54.181192'),
 'development': Timedelta('10 days 10:13:50.805192'),
 'QA': Timedelta('17 days 22:42:03.376000'),
 'deployment': Timedelta('8 days 08:59:00.385192')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-785',
 'created_at': '2024-11-05T18:11:25.463258-0500',
 'field': 'status',
 'from': 'Testing',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
117,CSP-785,2024-10-30T13:46:53.160-0500,status,To Do,In Progress
118,CSP-785,2024-10-30T15:07:37.370-0500,status,In Progress,Code Review
119,CSP-785,2024-10-31T09:41:06.927-0500,status,Code Review,Testing
3,CSP-785,2024-11-05T18:11:25.463258-0500,status,Testing,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-785,2024-10-30 13:46:53.160000-05:00,status,To Do,In Progress,NaT
1,CSP-785,2024-10-30 15:07:37.370000-05:00,status,In Progress,Code Review,0 days 01:20:44.210000
2,CSP-785,2024-10-31 09:41:06.927000-05:00,status,Code Review,Testing,0 days 18:33:29.557000
3,CSP-785,2024-11-05 18:11:25.463258-05:00,status,Testing,Active,5 days 08:30:18.536258

{'key': 'CSP-785',
 'leadTime': Timedelta('6 days 04:24:32.303258'),
 'development': Timedelta('6 days 04:24:32.303258'),
 'QA': Timedelta('5 days 08:30:18.536258'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-782,2024-09-25 08:47:17.410000-05:00,status,To Do,In Progress,NaT
1,CSP-782,2024-09-26 06:54:11.977000-05:00,status,In Progress,Code Review,0 days 22:06:54.567000
2,CSP-782,2024-09-26 07:12:30.713000-05:00,status,Code Review,Testing,0 days 00:18:18.736000
3,CSP-782,2024-09-27 11:43:26.577000-05:00,status,Testing,Deploy,1 days 04:30:55.864000
4,CSP-782,2024-11-05 08:04:13.617000-06:00,status,Deploy,Done,38 days 21:20:47.040000

{'key': 'CSP-782',
 'leadTime': Timedelta('41 days 00:16:56.207000'),
 'development': Timedelta('0 days 22:25:13.303000'),
 'QA': Timedelta('1 days 04:30:55.864000'),
 'deployment': Timedelta('38 days 21:20:47.040000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-781',
 'created_at': '2024-11-05T18:11:25.490597-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
125,CSP-781,2024-09-27T16:27:20.397-0500,status,To Do,In Progress
126,CSP-781,2024-10-24T09:49:38.970-0500,status,In Progress,Code Review
127,CSP-781,2024-10-24T13:51:29.263-0500,status,Code Review,In Progress
128,CSP-781,2024-10-28T11:47:14.693-0500,status,In Progress,Testing
129,CSP-781,2024-10-31T13:53:35.877-0500,status,Testing,Deploy
5,CSP-781,2024-11-05T18:11:25.490597-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-781,2024-09-27 16:27:20.397000-05:00,status,To Do,In Progress,NaT
1,CSP-781,2024-10-24 09:49:38.970000-05:00,status,In Progress,Code Review,26 days 17:22:18.573000
2,CSP-781,2024-10-24 13:51:29.263000-05:00,status,Code Review,In Progress,0 days 04:01:50.293000
3,CSP-781,2024-10-28 11:47:14.693000-05:00,status,In Progress,Testing,3 days 21:55:45.430000
4,CSP-781,2024-10-31 13:53:35.877000-05:00,status,Testing,Deploy,3 days 02:06:21.184000
5,CSP-781,2024-11-05 18:11:25.490597-05:00,status,Deploy,Active,5 days 04:17:49.613597

{'key': 'CSP-781',
 'leadTime': Timedelta('39 days 01:44:05.093597'),
 'development': Timedelta('35 days 23:37:43.909597'),
 'QA': Timedelta('3 days 02:06:21.184000'),
 'deployment': Timedelta('5 days 04:17:49.613597')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-780',
 'created_at': '2024-11-05T18:11:25.506142-0500',
 'field': 'status',
 'from': 'Acceptance / Review',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
130,CSP-780,2024-09-26T08:44:23.683-0500,status,To Do,In Progress
131,CSP-780,2024-10-01T14:09:51.630-0500,status,In Progress,Acceptance / Review
2,CSP-780,2024-11-05T18:11:25.506142-0500,status,Acceptance / Review,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-780,2024-09-26 08:44:23.683000-05:00,status,To Do,In Progress,NaT
1,CSP-780,2024-10-01 14:09:51.630000-05:00,status,In Progress,Acceptance / Review,5 days 05:25:27.947000
2,CSP-780,2024-11-05 18:11:25.506142-05:00,status,Acceptance / Review,Active,35 days 04:01:33.876142

{'key': 'CSP-780',
 'leadTime': Timedelta('40 days 09:27:01.823142'),
 'development': Timedelta('35 days 04:01:33.876142'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-778',
 'created_at': '2024-11-05T18:11:25.522119-0500',
 'field': 'status',
 'from': 'Acceptance / Review',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
132,CSP-778,2024-10-02T12:58:25.833-0500,status,To Do,In Progress
133,CSP-778,2024-10-09T08:37:00.147-0500,status,In Progress,Acceptance / Review
134,CSP-778,2024-10-16T13:26:27.597-0500,status,Acceptance / Review,In Progress
135,CSP-778,2024-10-28T07:47:10.877-0500,status,In Progress,Acceptance / Review
4,CSP-778,2024-11-05T18:11:25.522119-0500,status,Acceptance / Review,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-778,2024-10-02 12:58:25.833000-05:00,status,To Do,In Progress,NaT
1,CSP-778,2024-10-09 08:37:00.147000-05:00,status,In Progress,Acceptance / Review,6 days 19:38:34.314000
2,CSP-778,2024-10-16 13:26:27.597000-05:00,status,Acceptance / Review,In Progress,7 days 04:49:27.450000
3,CSP-778,2024-10-28 07:47:10.877000-05:00,status,In Progress,Acceptance / Review,11 days 18:20:43.280000
4,CSP-778,2024-11-05 18:11:25.522119-05:00,status,Acceptance / Review,Active,8 days 10:24:14.645119

{'key': 'CSP-778',
 'leadTime': Timedelta('34 days 05:12:59.689119'),
 'development': Timedelta('15 days 15:13:42.095119'),
 'QA': Timedelta('0 days 00:00:00'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-775,2024-09-20 10:08:01.717000-05:00,status,To Do,In Progress,NaT
1,CSP-775,2024-09-30 07:56:42.150000-05:00,status,In Progress,Testing,9 days 21:48:40.433000
2,CSP-775,2024-10-24 18:30:41.467000-05:00,status,Testing,Deploy,24 days 10:33:59.317000
3,CSP-775,2024-11-05 08:07:48.800000-06:00,status,Deploy,Done,11 days 14:37:07.333000

{'key': 'CSP-775',
 'leadTime': Timedelta('45 days 22:59:47.083000'),
 'development': Timedelta('9 days 21:48:40.433000'),
 'QA': Timedelta('24 days 10:33:59.317000'),
 'deployment': Timedelta('11 days 14:37:07.333000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-774',
 'created_at': '2024-11-05T18:11:25.550078-0500',
 'field': 'status',
 'from': 'Testing',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
140,CSP-774,2024-10-17T08:46:15.663-0500,status,To Do,In Progress
141,CSP-774,2024-10-17T08:48:50.393-0500,status,In Progress,Testing
2,CSP-774,2024-11-05T18:11:25.550078-0500,status,Testing,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-774,2024-10-17 08:46:15.663000-05:00,status,To Do,In Progress,NaT
1,CSP-774,2024-10-17 08:48:50.393000-05:00,status,In Progress,Testing,0 days 00:02:34.730000
2,CSP-774,2024-11-05 18:11:25.550078-05:00,status,Testing,Active,19 days 09:22:35.157078

{'key': 'CSP-774',
 'leadTime': Timedelta('19 days 09:25:09.887078'),
 'development': Timedelta('19 days 09:25:09.887078'),
 'QA': Timedelta('19 days 09:22:35.157078'),
 'deployment': Timedelta('0 days 00:00:00')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-766,2024-09-20 10:08:22.757000-05:00,status,To Do,In Progress,NaT
1,CSP-766,2024-09-30 07:58:04.173000-05:00,status,In Progress,Testing,9 days 21:49:41.416000
2,CSP-766,2024-10-31 16:48:01.390000-05:00,status,Testing,Deploy,31 days 08:49:57.217000
3,CSP-766,2024-11-05 08:07:52.760000-06:00,status,Deploy,Done,4 days 16:19:51.370000

{'key': 'CSP-766',
 'leadTime': Timedelta('45 days 22:59:30.003000'),
 'development': Timedelta('9 days 21:49:41.416000'),
 'QA': Timedelta('31 days 08:49:57.217000'),
 'deployment': Timedelta('4 days 16:19:51.370000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-763',
 'created_at': '2024-11-05T18:11:25.577944-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
146,CSP-763,2024-10-23T08:53:08.603-0500,status,To Do,In Progress
147,CSP-763,2024-10-24T08:48:37.757-0500,status,In Progress,Code Review
148,CSP-763,2024-10-25T14:13:02.377-0500,status,Code Review,Testing
149,CSP-763,2024-10-25T17:45:55.403-0500,status,Testing,Deploy
150,CSP-763,2024-10-25T19:17:46.193-0500,status,Deploy,Testing
151,CSP-763,2024-10-30T17:49:27.173-0500,status,Testing,Deploy
6,CSP-763,2024-11-05T18:11:25.577944-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-763,2024-10-23 08:53:08.603000-05:00,status,To Do,In Progress,NaT
1,CSP-763,2024-10-24 08:48:37.757000-05:00,status,In Progress,Code Review,0 days 23:55:29.154000
2,CSP-763,2024-10-25 14:13:02.377000-05:00,status,Code Review,Testing,1 days 05:24:24.620000
3,CSP-763,2024-10-25 17:45:55.403000-05:00,status,Testing,Deploy,0 days 03:32:53.026000
4,CSP-763,2024-10-25 19:17:46.193000-05:00,status,Deploy,Testing,0 days 01:31:50.790000
5,CSP-763,2024-10-30 17:49:27.173000-05:00,status,Testing,Deploy,4 days 22:31:40.980000
6,CSP-763,2024-11-05 18:11:25.577944-05:00,status,Deploy,Active,6 days 00:21:58.404944

{'key': 'CSP-763',
 'leadTime': Timedelta('13 days 09:18:16.974944'),
 'development': Timedelta('8 days 07:13:42.968944'),
 'QA': Timedelta('5 days 02:04:34.006000'),
 'deployment': Timedelta('6 days 01:53:49.194944')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-762',
 'created_at': '2024-11-05T18:11:25.592680-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
152,CSP-762,2024-10-18T08:49:43.593-0500,status,To Do,Code Review
153,CSP-762,2024-10-18T08:50:02.190-0500,status,Code Review,In Progress
154,CSP-762,2024-10-24T21:11:18.117-0500,status,In Progress,Code Review
155,CSP-762,2024-10-29T09:58:43.950-0500,status,Code Review,Testing
156,CSP-762,2024-10-30T17:47:57.287-0500,status,Testing,Deploy
5,CSP-762,2024-11-05T18:11:25.592680-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-762,2024-10-18 08:49:43.593000-05:00,status,To Do,Code Review,NaT
1,CSP-762,2024-10-18 08:50:02.190000-05:00,status,Code Review,In Progress,0 days 00:00:18.597000
2,CSP-762,2024-10-24 21:11:18.117000-05:00,status,In Progress,Code Review,6 days 12:21:15.927000
3,CSP-762,2024-10-29 09:58:43.950000-05:00,status,Code Review,Testing,4 days 12:47:25.833000
4,CSP-762,2024-10-30 17:47:57.287000-05:00,status,Testing,Deploy,1 days 07:49:13.337000
5,CSP-762,2024-11-05 18:11:25.592680-05:00,status,Deploy,Active,6 days 00:23:28.305680

{'key': 'CSP-762',
 'leadTime': Timedelta('18 days 09:21:41.999680'),
 'development': Timedelta('17 days 01:32:28.662680'),
 'QA': Timedelta('1 days 07:49:13.337000'),
 'deployment': Timedelta('6 days 00:23:28.305680')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-761',
 'created_at': '2024-11-05T18:11:25.607531-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
157,CSP-761,2024-10-21T15:54:01.257-0500,status,To Do,In Progress
158,CSP-761,2024-10-21T15:54:15.697-0500,status,In Progress,Code Review
159,CSP-761,2024-10-22T08:40:08.977-0500,status,Code Review,Testing
160,CSP-761,2024-10-25T17:47:04.267-0500,status,Testing,Deploy
161,CSP-761,2024-10-25T17:51:58.747-0500,status,Deploy,Testing
162,CSP-761,2024-10-30T17:46:48.007-0500,status,Testing,Deploy
6,CSP-761,2024-11-05T18:11:25.607531-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-761,2024-10-21 15:54:01.257000-05:00,status,To Do,In Progress,NaT
1,CSP-761,2024-10-21 15:54:15.697000-05:00,status,In Progress,Code Review,0 days 00:00:14.440000
2,CSP-761,2024-10-22 08:40:08.977000-05:00,status,Code Review,Testing,0 days 16:45:53.280000
3,CSP-761,2024-10-25 17:47:04.267000-05:00,status,Testing,Deploy,3 days 09:06:55.290000
4,CSP-761,2024-10-25 17:51:58.747000-05:00,status,Deploy,Testing,0 days 00:04:54.480000
5,CSP-761,2024-10-30 17:46:48.007000-05:00,status,Testing,Deploy,4 days 23:54:49.260000
6,CSP-761,2024-11-05 18:11:25.607531-05:00,status,Deploy,Active,6 days 00:24:37.600531

{'key': 'CSP-761',
 'leadTime': Timedelta('15 days 02:17:24.350531'),
 'development': Timedelta('6 days 17:15:39.800531'),
 'QA': Timedelta('8 days 09:01:44.550000'),
 'deployment': Timedelta('6 days 00:29:32.080531')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-760',
 'created_at': '2024-11-05T18:11:25.623555-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
163,CSP-760,2024-08-26T09:06:12.010-0500,status,To Do,In Progress
164,CSP-760,2024-10-14T08:18:56.397-0500,status,In Progress,Testing
165,CSP-760,2024-10-21T17:12:13.257-0500,status,Testing,Deploy
3,CSP-760,2024-11-05T18:11:25.623555-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-760,2024-08-26 09:06:12.010000-05:00,status,To Do,In Progress,NaT
1,CSP-760,2024-10-14 08:18:56.397000-05:00,status,In Progress,Testing,48 days 23:12:44.387000
2,CSP-760,2024-10-21 17:12:13.257000-05:00,status,Testing,Deploy,7 days 08:53:16.860000
3,CSP-760,2024-11-05 18:11:25.623555-05:00,status,Deploy,Active,15 days 00:59:12.366555

{'key': 'CSP-760',
 'leadTime': Timedelta('71 days 09:05:13.613555'),
 'development': Timedelta('64 days 00:11:56.753555'),
 'QA': Timedelta('7 days 08:53:16.860000'),
 'deployment': Timedelta('15 days 00:59:12.366555')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-759',
 'created_at': '2024-11-05T18:11:25.639487-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
166,CSP-759,2024-09-12T08:31:39.970-0500,status,To Do,In Progress
167,CSP-759,2024-10-14T08:19:24.450-0500,status,In Progress,Testing
168,CSP-759,2024-10-22T15:52:56.507-0500,status,Testing,Deploy
3,CSP-759,2024-11-05T18:11:25.639487-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-759,2024-09-12 08:31:39.970000-05:00,status,To Do,In Progress,NaT
1,CSP-759,2024-10-14 08:19:24.450000-05:00,status,In Progress,Testing,31 days 23:47:44.480000
2,CSP-759,2024-10-22 15:52:56.507000-05:00,status,Testing,Deploy,8 days 07:33:32.057000
3,CSP-759,2024-11-05 18:11:25.639487-05:00,status,Deploy,Active,14 days 02:18:29.132487

{'key': 'CSP-759',
 'leadTime': Timedelta('54 days 09:39:45.669487'),
 'development': Timedelta('46 days 02:06:13.612487'),
 'QA': Timedelta('8 days 07:33:32.057000'),
 'deployment': Timedelta('14 days 02:18:29.132487')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-712',
 'created_at': '2024-11-05T18:11:25.654881-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
169,CSP-712,2024-08-26T12:53:44.707-0500,status,To Do,In Progress
170,CSP-712,2024-09-12T08:14:48.600-0500,status,In Progress,Code Review
171,CSP-712,2024-10-21T08:45:33.797-0500,status,Code Review,Testing
172,CSP-712,2024-10-31T16:40:15.480-0500,status,Testing,Deploy
4,CSP-712,2024-11-05T18:11:25.654881-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-712,2024-08-26 12:53:44.707000-05:00,status,To Do,In Progress,NaT
1,CSP-712,2024-09-12 08:14:48.600000-05:00,status,In Progress,Code Review,16 days 19:21:03.893000
2,CSP-712,2024-10-21 08:45:33.797000-05:00,status,Code Review,Testing,39 days 00:30:45.197000
3,CSP-712,2024-10-31 16:40:15.480000-05:00,status,Testing,Deploy,10 days 07:54:41.683000
4,CSP-712,2024-11-05 18:11:25.654881-05:00,status,Deploy,Active,5 days 01:31:10.174881

{'key': 'CSP-712',
 'leadTime': Timedelta('71 days 05:17:40.947881'),
 'development': Timedelta('60 days 21:22:59.264881'),
 'QA': Timedelta('10 days 07:54:41.683000'),
 'deployment': Timedelta('5 days 01:31:10.174881')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

{'key': 'CSP-630',
 'created_at': '2024-11-05T18:11:25.673255-0500',
 'field': 'status',
 'from': 'Deploy',
 'to': 'Active'}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _status_change.loc[len(_status_change)] = new_node

,key,created_at,field,from,to
173,CSP-630,2024-06-11T14:28:34.707-0500,status,Open,Refinement
174,CSP-630,2024-06-11T16:18:35.827-0500,status,Refinement,Ready for Development
175,CSP-630,2024-06-27T11:18:05.030-0500,status,Ready for Development,To Do
176,CSP-630,2024-07-31T09:29:58.980-0500,status,To Do,In Progress
177,CSP-630,2024-07-31T09:30:03.917-0500,status,In Progress,Testing
178,CSP-630,2024-08-23T14:19:17.567-0500,status,Testing,Deploy
179,CSP-630,2024-09-05T08:40:25.460-0500,status,Deploy,Done
180,CSP-630,2024-09-09T11:04:51.687-0500,status,Done,Deploy
181,CSP-630,2024-10-01T14:13:02.760-0500,status,Deploy,Testing
182,CSP-630,2024-10-09T10:21:33.170-0500,status,Testing,In Progress
183,CSP-630,2024-10-10T08:38:23.413-0500,status,In Progress,Code Review
184,CSP-630,2024-10-10T08:43:32.117-0500,status,Code Review,Testing
185,CSP-630,2024-10-28T10:31:07.727-0500,status,Testing,Deploy
13,CSP-630,2024-11-05T18:11:25.673255-0500,status,Deploy,Active

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-630,2024-06-11 14:28:34.707000-05:00,status,Open,Refinement,NaT
1,CSP-630,2024-06-11 16:18:35.827000-05:00,status,Refinement,Ready for Development,0 days 01:50:01.120000
2,CSP-630,2024-06-27 11:18:05.030000-05:00,status,Ready for Development,To Do,15 days 18:59:29.203000
3,CSP-630,2024-07-31 09:29:58.980000-05:00,status,To Do,In Progress,33 days 22:11:53.950000
4,CSP-630,2024-07-31 09:30:03.917000-05:00,status,In Progress,Testing,0 days 00:00:04.937000
5,CSP-630,2024-08-23 14:19:17.567000-05:00,status,Testing,Deploy,23 days 04:49:13.650000
6,CSP-630,2024-09-05 08:40:25.460000-05:00,status,Deploy,Done,12 days 18:21:07.893000
7,CSP-630,2024-09-09 11:04:51.687000-05:00,status,Done,Deploy,4 days 02:24:26.227000
8,CSP-630,2024-10-01 14:13:02.760000-05:00,status,Deploy,Testing,22 days 03:08:11.073000
9,CSP-630,2024-10-09 10:21:33.170000-05:00,status,Testing,In Progress,7 days 20:08:30.410000
10,CSP-630,2024-10-10 08:38:23.413000-05:00,status,In Progress,Code Review,0 days 22:16:50.243000
11,CSP-630,2024-10-10 08:43:32.117000-05:00,status,Code Review,Testing,0 days 00:05:08.704000
12,CSP-630,2024-10-28 10:31:07.727000-05:00,status,Testing,Deploy,18 days 01:47:35.610000
13,CSP-630,2024-11-05 18:11:25.673255-05:00,status,Deploy,Active,8 days 07:40:17.946255

{'key': 'CSP-630',
 'leadTime': Timedelta('147 days 03:42:50.966255'),
 'development': Timedelta('73 days 03:30:57.263255'),
 'QA': Timedelta('41 days 06:36:49.260000'),
 'deployment': Timedelta('43 days 05:09:36.912255')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)
/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/715610537.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cycleTime['QA'] = _status_change[_status_change['from'].isin( ['Testing']) ] [_status_change['to'].isin( ['Deploy', 'Active'])]['time_diff'].sum()

,key,created_at,field,from,to,time_diff
0,CSP-151,2024-09-18 09:55:23.553000-05:00,status,Open,To Do,NaT
1,CSP-151,2024-09-20 08:47:32.290000-05:00,status,To Do,In Progress,1 days 22:52:08.737000
2,CSP-151,2024-09-23 08:26:42.587000-05:00,status,In Progress,Code Review,2 days 23:39:10.297000
3,CSP-151,2024-09-25 07:54:15.850000-05:00,status,Code Review,Testing,1 days 23:27:33.263000
4,CSP-151,2024-10-23 12:30:57.403000-05:00,status,Testing,Deploy,28 days 04:36:41.553000
5,CSP-151,2024-10-31 13:01:15.170000-05:00,status,Deploy,Done,8 days 00:30:17.767000

{'key': 'CSP-151',
 'leadTime': Timedelta('43 days 03:05:51.617000'),
 'development': Timedelta('6 days 21:58:52.297000'),
 'QA': Timedelta('28 days 04:36:41.553000'),
 'deployment': Timedelta('8 days 00:30:17.767000')}

/var/folders/sj/ff_l0c9d0072n5r9c61zvf0w0000gq/T/ipykernel_97485/662442121.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cycleTimeDf = cycleTimeDf.append(calculateCycleTime(result,searchResult['fields']['status']['name'],searchResult['key']), ignore_index=True)

,key,leadTime,development,QA,deployment
0,CSP-968,5 days 09:46:44.311993,5 days 09:46:44.311993,0 days 00:00:00,0 days 00:00:00
1,CSP-963,5 days 21:50:02.087000,1 days 21:16:43.793000,0 days 01:45:34.910000,3 days 20:49:07.297000
2,CSP-961,8 days 04:54:50.781915,7 days 09:58:42.144915,0 days 04:51:44.707915,0 days 00:00:00
3,CSP-960,7 days 09:59:24.330389,7 days 09:59:24.330389,7 days 08:06:18.536389,0 days 00:00:00
4,CSP-956,11 days 20:07:43.510000,6 days 20:35:10.974000,1 days 03:37:20.120000,3 days 19:55:12.416000
5,CSP-950,14 days 06:09:27.658031,11 days 23:37:15.552031,2 days 06:32:12.106000,11 days 01:14:14.458031
6,CSP-945,12 days 09:23:12.586535,11 days 04:44:23.343535,1 days 04:38:49.243000,6 days 04:18:22.393535
7,CSP-938,19 days 04:33:31.775112,11 days 23:24:38.238112,7 days 05:08:53.537000,11 days 01:08:07.168112
8,CSP-930,20 days 00:14:11.150000,2 days 03:05:26.790000,12 days 22:18:04.847000,4 days 22:50:39.513000
9,CSP-929,15 days 03:16:45.036010,15 days 03:16:45.036010,13 days 07:29:47.870010,0 days 00:00:00
10,CSP-920,4 days 05:06:38.770882,4 days 05:06:38.770882,0 days 00:00:00,0 days 00:00:00
11,CSP-912,5 days 22:21:49.564000,0 days 00:00:00,0 days 00:00:00,0 days 21:16:30.894000
12,CSP-911,5 days 20:51:59.407000,0 days 00:00:00,0 days 00:00:00,0 days 21:16:50.574000
13,CSP-887,28 days 08:59:14.349774,23 days 10:29:04.633774,4 days 22:30:09.716000,21 days 03:05:11.399774
14,CSP-880,19 days 03:31:44.875004,19 days 02:56:21.632004,0 days 00:35:23.243000,6 days 04:11:22.688004
15,CSP-879,11 days 19:42:22.400000,4 days 19:47:09.456000,2 days 01:10:05.434000,4 days 22:45:07.510000
16,CSP-859,28 days 00:03:50.124000,9 days 02:58:46.107000,11 days 01:31:45.793000,7 days 19:33:18.224000
17,CSP-858,15 days 02:16:50.163000,0 days 00:00:00,12 days 03:25:55.696000,2 days 22:50:54.467000
18,CSP-857,20 days 03:16:11.369061,12 days 22:09:29.639061,7 days 05:06:41.730000,11 days 01:10:32.545061
19,CSP-856,21 days 02:01:49.299572,11 days 00:05:56.249572,10 days 01:55:53.050000,8 days 04:21:08.489572
20,CSP-855,27 days 05:07:40.429740,22 days 02:52:52.592740,5 days 02:14:47.837000,8 days 04:45:43.056740
21,CSP-854,26 days 09:33:07.902462,15 days 08:17:15.696462,11 days 01:15:52.206000,11 days 01:12:16.162462
22,CSP-851,33 days 20:34:56.983000,14 days 20:13:04.420000,14 days 00:51:44.190000,4 days 23:30:08.373000
23,CSP-850,33 days 21:45:24.126000,9 days 02:34:03.570000,19 days 19:39:39.430000,4 days 23:31:41.126000
24,CSP-840,6 days 08:04:36.263988,6 days 01:16:05.699988,0 days 06:48:30.564000,6 days 01:16:05.699988
25,CSP-839,8 days 05:37:38.704939,8 days 05:37:38.704939,6 days 03:44:20.648939,0 days 00:00:00
26,CSP-837,20 days 03:16:05.637951,20 days 03:16:01.174951,0 days 00:00:04.463000,19 days 07:15:52.654951
27,CSP-833,5 days 19:55:52.807000,0 days 23:54:51.767000,0 days 00:00:00,0 days 15:32:56.180000
28,CSP-831,33 days 20:34:58.477000,14 days 20:12:50.623000,14 days 00:48:11.077000,4 days 23:33:56.777000
29,CSP-830,33 days 20:35:16.250000,14 days 20:13:52.290000,14 days 00:48:03.447000,4 days 23:33:20.513000
30,CSP-828,28 days 23:27:28.480000,9 days 11:45:32.876000,8 days 14:21:18.290000,10 days 21:20:37.314000
31,CSP-815,22 days 01:39:32.526566,17 days 23:25:47.203566,4 days 02:13:45.323000,11 days 01:03:58.279566
32,CSP-811,28 days 08:55:54.181192,10 days 10:13:50.805192,17 days 22:42:03.376000,8 days 08:59:00.385192
33,CSP-785,6 days 04:24:32.303258,6 days 04:24:32.303258,5 days 08:30:18.536258,0 days 00:00:00
34,CSP-782,41 days 00:16:56.207000,0 days 22:25:13.303000,1 days 04:30:55.864000,38 days 21:20:47.040000
35,CSP-781,39 days 01:44:05.093597,35 days 23:37:43.909597,3 days 02:06:21.184000,5 days 04:17:49.613597
36,CSP-780,40 days 09:27:01.823142,35 days 04:01:33.876142,0 days 00:00:00,0 days 00:00:00
37,CSP-778,34 days 05:12:59.689119,15 days 15:13:42.095119,0 days 00:00:00,0 days 00:00:00
38,CSP-775,45 days 22:59:47.083000,9 days 21:48:40.433000,24 days 10:33:59.317000,11 days 14:37:07.333000
39,CSP-774,19 days 09:25:09.887078,19 days 09:25:09.887078,19 days 09:22:35.157078,0 days 00:00:00
40,CSP-766,45 days 22:59:30.003000,9 days 21:49:41.416000,31 days 08:49:57.217000,4 days 16:19:51.370000
41,CSP-763,13 days 09:18:16.974944,8 days 07:13:42.968944,5 days 02:04:34.006000,6 days 01:53:49.194944
42,CSP-762,18 days 09:21:41.999680,17 days 01:32:28.662680,1 days 07:49:13.337000,6 days 00:23:28.305680
43,CSP-761,15 days 02:17:24.350531,6 days 17:15:39.800531,8 days 09:01:44.550000,6 days 00:29:32.080531
44,CSP-760,71 days 09:05:13.613555,64 days 00:11:56.753555,7 days 08:53:16.860000,15 days 00:59:12.366555
45,CSP-759,54 days 09:39:45.669487,46 days 02:06:13.612487,8 days 07:33:32.057000,14 days 02:18:29.132487
46,CSP-712,71 days 05:17:40.947881,60 days 21:22:59.264881,10 days 07:54:41.683000,5 days 01:31:10.174881
47,CSP-630,147 days 03:42:50.966255,73 days 03:30:57.263255,41 days 06:36:49.260000,43 days 05:09:36.912255
48,CSP-151,43 days 03:05:51.617000,6 days 21:58:52.297000,28 days 04:36:41.553000,8 days 00:30:17.767000